appdirs==1.4.4
beautifulsoup4==4.13.3
bs4==0.0.2
feedparser==6.0.11
greenlet==3.1.1
matplotlib==3.10.0
playwright==1.51.0
PyDispatcher==2.0.5
pyee==12.1.1
scrapy-playwright==0.0.43
sgmllib3k==1.0.0
soupsieve==2.6
tinydb==4.8.2
pyyaml==6.0.2
main_content_extractor
dotenv
